@import "../../variables.css";

.pets-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.3;
}

.pets-button:hover {
  margin-top: 2px;
}

.pets-button.contained:hover {
  background-color: var(--hoverGray);
}

.pets-button.contained {
  background-color: var(--gray);
}

.pets-button.outlined {
  background-color: transparent;
  border: 1px solid;
}

.pets-button.default {
  border-color: var(--gray);
  color: var(--gray);
}

.pets-button.default.contained {
  color: var(--black);
}

.pets-button.danger.contained {
  background-color: var(--red);
  color: var(--gray);
}

.pets-button.danger.outlined {
  border-color: var(--red);
  color: var(--red);
}

.pets-button.adopt {
  background-color: var(--pink);
}