.contact-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-container .contact-title {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 40px;
}

.contact-carousel {
    width: 60%;
    margin-bottom: 100px;
}

.contact-container .text-centered {
    display: flex;
    justify-content: center;
}