.contact-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 50px;
}

.contact-container .contact-title {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.contact-carousel {
    width: 60%;
    margin-bottom: 100px;
}
.contact-container .text-centered{
    display:flex;
    justify-content: center;
}