.card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-details img {
    position: relative;
    height: 500px;
    margin-bottom: 20px;
}

.carousel-control-next,
.carousel-control-previous {
    color: var(--black);
}

.w-100 {
    width: 100%;
}