.pets-header {
  background-color: var(--pink);
  height: 90px;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

.pets-header .header-start {
  display: flex;
  flex-direction: row;
}

.header-img {
  position: relative;
  width: 120px;
  height: 125px;
  top: 26.5px;
  left: 50px;
}

.header-title {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}