@import "./variables.css";

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App .mt-auto {
  margin-top: auto;
}

.App .app-row {
  display: flex;
}

.App .pets-sidebar .pets-list-item {
  padding: 10px 20px;
  background-color: var(--pink);
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.App .pets-sidebar .pets-list-item .pets-list-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .pets-sidebar .pets-list-item .pets-list-item__icon svg {
  height: 25px;
  width: 25px;
}

.App .pets-sidebar .pets-list-item:hover {
  background-color: var(--pink);
}

.App .pets-sidebar .pets-list-item a {
  color: var(--white);
  text-decoration: none;
}

.App .pets-main-content {
  flex: 1;
  padding: 50px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.App .pets-main-content .pets-card {
  max-width: 300px;
  max-height: 500px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.App .pets-main-content .pets-card:hover {
  background-color: var(--hoverGray);
}

.App .pets-main-content .pets-card .card-body {
  display: flex;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}