:root {
  --blue: #004aad;
  --dark-blue: #012c66;
  --white: #fff;
  --gray: #e7e7e7;
  --hoverGray: #bbbbbb;
  --red: #ff0000;
  --green: #198754;
  --black: #000;
  --pink: #f9a6e8;
  --soft-pink: #ffc0cb;

}